html, body, .skp-body pre > p {
 font-family: "Roboto", "Droid Sans", "Arial", "Helvetica", sans-serif;
}

.skp-heading .mdl-layout__header-row {
 padding-left: 40px;
}

.skp-subtitle {
 font-size: medium;
 display: inline-block;
}

.skp-toolbar .skp-buttons {
 margin-right: -24px;
}

@media (max-width: 839px) {
 .skp-buttons a span {
  display: none;
 }
 .skp-toolbar .skp-buttons a {
  padding: 0 8px;
 }
}

@media (max-width: 1024px) {
 .skp-heading .mdl-layout__header-row {
  padding-left: 24px;
 }
 .skp-toolbar .skp-buttons {
  margin-right: -8px;
 }
}

.skp-main {
 margin: 0 8px;
}

.skp-item, .skp-main .skp-body pre > p {
 background: #fff;
}

.skp-main > .mdl-cell {
 margin-left: auto; margin-right: auto;
}

.skp-main .mdl-card {
 min-height: 0;
}

.skp-main .mdl-card__title > * {
 margin: 0;
}

.skp-main .mdl-card__supporting-text p,
.skp-main .mdl-card__supporting-text pre {
 margin: 0;
}

.skp-main .mdl-card__supporting-text * + p,
.skp-main .mdl-card__supporting-text * + pre {
 margin-top: 1em;
}

.skp-templates {
 display: none;
}

.skp-item.important .skp-heading {
 font-weight: bold;
}

.skp-slug + .skp-summary > :first-child {
 padding-left: 2em;
}

.skp-body {
 width: auto;
 padding-top: 0;
}

.skp-body:empty {
 padding-bottom: 0;
}

.skp-body img {
 max-width: 100%;
}

.skp-body pre, .skp-body code {
 background: #F5F5F5;
 padding: 0.5em;
}

.skp-main .skp-body pre,
.skp-main .skp-body pre > p { 
 position: relative; left: -0.5em;
 margin-right: -1em; margin-bottom: -0.5em;
 white-space: pre-wrap;
}

.skp-main .skp-body pre > p { 
 padding: 0 0.5em 0.5em 0.5em;
 margin-top: -0.5em;
}

.skp-body pre > code {
 background: transparent;
 padding: 0;
}

.skp-file, .skp-default {
 display: none;
}
